<div class="flex flex-row items-center justify-around p-3">
  <div class="w-1/2 gsemi text-xl px-8 m-auto">Dashboard</div>
  <div class="flex flex-row w-1/2 space-x-3 justify-around items-center">
    <div class="flex flex-row justify-center items-center space-x-2">
      <div class="">
        <div class="wrap-icon">

          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </div>
      </div>
      <div class="gmedium text-[#ababab] text-xs">What are you searching for ?</div>
    </div>
    <div>
      <div class="wrap-icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </div>
    </div>
    <div class="flex flex-row items-center space-x-2 justify-around">
      <div class="flex flex-col items-end">
        <div class="gsemi text-sm"> {{ username }}</div>
        <div class="text-[#ababab] gmedium text-xs" >{{ email }}</div>
      </div>
      <div class="">
        <div class="header_profile_image z-10 cursor-pointer">
          <img [routerLink]="['/home/profile']"  class="rounded-full" [src]="imageSrc" alt="Avatar" style="width: 32px; height: 32px" />
          <!-- <img [routerLink]="['/home/profile']" routerLinkActive="router-link-active"  class="rounded-full m-auto" [src]="'../../../../assets/Image/male.png'" alt="Avatar"
            style="width: 45px; height: 45px" /> -->
        </div>
      </div>
    </div>

  </div>

</div>