<div class="w-full flex flex-col">
  <button class="md:d-none border border-red-500 w-8 h-8 absolute left-2 top-3 rounded-full" (click)="openSidebar()">
    <i class="fa fa-bars"></i>
</button>
  <div
    (clickOutside)="closeSidebar()"
    id="sidebar"
    class="lg:w-1/6 w-[55%] lg:block sidebar absolute inset-y-0 left-0 transform-translate-x-full z-10 bg-white lg:translate-x-0 transition duration-200 ease-in-out"
  >

    <app-sidebar (toggleSidebarEvent)="closeSidebar()"></app-sidebar>
  </div>
  <div class="w-[45%] bg-[rgba(0,0,0,0.8)] h-screen absolute right-0 z-[99] md:hidden flex justify-end" id="sidebar-side-layer">
    <button class="md:d-none border border-red-500 w-12 h-12 left-2 top-3 rounded-full m-4 bg-white" (click)="closeSidebar()">
      <i class="fa fa-times"></i>
  </button>
  </div>
  <div class="md:w-5/6 w-full  ml-auto flex flex-col">
    <app-header></app-header>
    <div class="w-[100%] h-[89vh] overflow-auto">
    <router-outlet></router-outlet>
</div>
  </div>
</div>
