<div class="flex justify-center w-full flex-row">
    <div class="w-full sm:w-1/3 flex flex-col p-8">
      <div class="font-[GilroyBold] text-2xl">
          Craft<span class="text-red font-[GilroyBold]">Wills.</span>
        </div>
        <div class="flex flex-col w-full m-auto">
            <div class="text-3xl font-[GilroySemi] text-left whitespace-nowrap">
                Forgot password?
              </div>
              <div class="text-base my-4 opacity-60">
                Please enter you email to reset your password
              </div>
              <form method="POST" [formGroup]="forgotForm">
                <div class="form-group justify-center mx-auto ">
                  <div class="input-group1">
                    <input
                      type="text"
                      placeholder="E-mail address"
                      formControlName="email"
                      class="form-control input-field bg-light "
                    />
                  </div>
        
                  <div class="text-red-500 errors mx-2">
                    {{ formErrors.email }}
                  </div>
                </div>
                <div class="button justify-center sm:w-1/2">
        
                  <app-button
                  value="Send"
                  (myMethod)="forgotPassword()"
                  id="submitButtonId"
                  padding="px-5 py-3 sm:py-2"
                  backgroundColor="bg-[#000] sm:bg-[#FF6782]"
                  borderRadius="rounded-[5px] sm:rounded-[10px]"
                ></app-button>
                </div>
                <div class="font-bold md:w-2/3 justify-center mx-auto sm:hidden my-3">
                  <span class="mr-1 ">Don’t have an account</span>
                  <a class="text-[#FF6782] hover:text-[#FF6782] underline" routerLink="/signup"
                      >Sign Up</a
                  >
                  </div>
              </form>
              <div class="text-left font-[GilroySemi] my-2">
                <a routerLink="/forgetPassword">Forgot Password?</a>
              </div>
        </div>
   
  </div>
  <div class="hidden sm:flex w-2/3 bg h-[100vh]"></div>
</div>
