.shadow-none{
    box-shadow: none !important;
}


.user-mgmt-table{
    width: 100%;
    thead{
        th{
            font-family: 'GilroyBold';
            color: #979797;
            font-size: 12px;
            text-align: left;
            padding: 9px 0;
            &:first-child{
                padding-left: 20px;
            }

        }
    }
    tbody{
        tr{
            td{
                font-family: 'Gilroy';
                font-size: 14px;
                text-align: left;
                padding: 9px 0;

                &:first-child{
                    padding-left: 20px;
                }
              }
            &:nth-child(odd){
                background-color: #FFEFF2;
            }
          }
         }

}















.upper {
    width: 100%;
    height: 300px;
    border: 1px solid orange;
    position: relative;
    background-color: green;
  }
  
  .half-circle {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background: #fff;
  }