<section class="theme-shadow h-full rounded-3xl my-4 mx-5">
    <div class="flex justify-between items-center  py-5 px-4">
           <p class="gbold text-md min-w-[70px]">All Subscribers</p>
           <div class="flex items-center">
            <p class="gsemi text-sm min-w-[70px]">Sort By:</p>

            <div class="w-[150px]">

                <ng-select
                (change)="onSorting($event)"
                [searchable]="false"
                class="custom-selector profile w-full " 
                placeholder="Select"
                >
                  <ng-option  value="All">All</ng-option
                  >
                  <ng-option  value="free">free</ng-option
                  >
                  <ng-option  value="1 month">month</ng-option
                  >
                </ng-select>
             </div>

            
            <!-- <select class="select w-48 max-w-xs sort-by py-1.5 border-black rounded-xl">
             <option disabled selected>Gold</option>
             <option>Subscribed User</option>
             <option>Trial User</option>
           </select> -->
         </div>
    </div>
    <table class="subs-history-table">
    <thead>
        <th class="table-radio-td"></th>
        <th>Name & Email Address</th>
        <th>Subscription Plan</th>
        <th>Subscription Date</th>
        <th>Expiry Date</th>
        <th>Price</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of allSubscribersDisplay;let i=index">
            <td class="table-radio-td">
                <img class="rounded-full w-10 h-10 mr-2" [src]="'../../../../../assets/Image/male.png'" alt="Avatar" />
            </td>
            <td>
                <p class="gbold text-sm">{{item?.name}}</p>
                <p class="gmedium text-xs">{{item?.email}}</p>
            </td>
            <td>{{item?.subPlan}}</td>
            <td>{{item?.subDate}}</td>
            <td>{{item?.expDate}}</td>
            <td>${{item?.price}}</td>
            <td class=" gbold" 
            [ngClass]="item?.status !== true ? 'text-red-500' : 'text-green-500'">
                {{item?.status !== true ? 'Inactive' : 'Active'}}
            </td>
        </tr>
    </tbody>
    </table>
    
    
    
    <!-- invite modal starts -->
    
    <input type="checkbox" id="my-modal-3" class="modal-toggle">
    <div class="modal">
      <div class="modal-box relative p-7">
        <label for="my-modal-3" class="text-xs text-grey cursor-pointer absolute right-4 top-4">close</label>
        <h3 class="text-xl gbold">Invite New User</h3>
        <div class="w-full mt-5">
            <input type="text" placeholder="Name" class="input input-bordered rounded-xl mb-4 w-full">
            <input type="text" placeholder="Email" class="input input-bordered rounded-xl mb-4 w-full">
            <select class="select w-full input-bordered rounded-xl mb-4">
                <option disabled selected>Subscription Plan</option>
                <option>Subscribed User</option>
                <option>Trial User</option>
            </select>
            <select class="select w-full input-bordered rounded-xl mb-4">
                <option disabled selected>Subscription Plan Duration</option>
                <option>Subscribed User</option>
                <option>Trial User</option>
              </select>
    
              <button for="my-modal-3" class="theme-red rounded-xl px-8 py-3 cursor-pointer text-white text-xs mr-3">
                Add New User
            </button>
        </div>
      </div>
    </div>
    
    
</section>