.user-mgmt-table{
    width: 100%;
    thead{
        th{
            font-family: 'GilroyBold';
            color: #979797;
            font-size: 12px;
            text-align: left;
            padding: 9px 0;
            &:first-child{
                padding-left: 20px;
            }

        }
    }
    tbody{
        tr{
            td{
                font-family: 'Gilroy';
                font-size: 14px;
                text-align: left;
                padding: 9px 0;

                &:first-child{
                    padding-left: 20px;
                }
              }
            &:nth-child(odd){
                background-color: #F8F8F8;
            }
          }
         }

}

.table-radio-td{
    width: 50px;
}
.table-icon{
    background-color: #f9e7ea;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}
.icon-red{
    color: red;
}


input[type="radio"] + label span {
    transition: background .2s,
      transform .2s;
}


input[type="radio"]:checked + label span {
  background-color: #ff6782; //bg-blue
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: #ff6782; //text-blue
}

.sort-by{
    border: 1px solid #ddd;
    border-radius: 15px;
    min-height: 2.5rem;
    height: 2.5rem;
}